# Dependencies
node_modules/
*.log

# Builds
dist/
build/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backend
backend/node_modules/
backend/dist/
backend/*.log

# Frontend
frontend/agro/node_modules/
frontend/agro/dist/

